<div>
    <!--  ngIf='appList.length > 0'-->
    <lpqft-custom-button buttonLabel="+" (clickEmitter)='clickAdd()' theme='primary'></lpqft-custom-button>
    <table class="dataTable">
        <tr>
            <th *ngFor="let col of columns;">{{col}}</th>

        </tr>
        <tr *ngFor="let displayable of displayedData; let i = index" (click)="clickRow(i)"
            [class.active]="i == HighlightRow" [class.tableContent]="true">
            <td *ngFor="let col of displayedColumnsName;"><div [innerHTML]="formatData(displayedData[i][col], col)"></div></td>

        </tr>

    </table>
</div>