<div>
    <!--  ngIf='appList.length > 0'-->
    <vaadin-button (click)='clickAdd()' theme='primary'>+</vaadin-button>
    <table class="dataTable">
        <tr>
            <th *ngFor="let col of columns;">{{col}}</th>

        </tr>
        <tr *ngFor="let displayable of displayedData; let i = index" (click)="clickRow(i)"
            [class.active]="i == HighlightRow" [class.tableContent]="true">
            <td *ngFor="let col of displayedColumnsName;">{{formatData(displayedData[i][col], col)}}</td>

        </tr>

    </table>
</div>