vaadin-split-layout{
    height: 100%;
    width:99%;
}


.secondary{
    min-width: 20%;
    overflow-x: hidden;
}
:host div {
    padding-left:16px;
    height:100%;
}
:host {
   
    height:100%;
}
