<div>{{translatedEntityName}} {{id}}</div>

<form (ngSubmit)="clickSave()">
    <lpqft-custom-button buttonLabel="Delete" (clickEmitter)='clickDelete()' theme='primary'></lpqft-custom-button>
    <lpqft-custom-button buttonLabel="X" (clickEmitter)='clickClose()'></lpqft-custom-button>
    <lpqft-custom-button type="submit" buttonLabel="Save" theme='primary'></lpqft-custom-button>
    <!-- (clickEmitter)='clickSave()' -->

    <section *ngFor="let bloc of detail.blocs">
        <div class="form-line" *ngFor="let line of bloc.lines">
            <abstract-input *ngFor="let field of line.fields" [type]="field.type"
                [value]="oneEntityFetchedData[field.name]" [label]="translate(field.translationKey)"
                [isReadOnly]="field.readOnly" [fieldName]="field.name" [entityDescriptor]="field.entityDescriptor">
            </abstract-input>
        </div>
    </section>
</form>