
.primary{
    padding-top:16px;
}
.secondary{
    padding-top:16px;
}
section{
    width: 100%;
}
.form-line *{
    margin-right: 5px;
    // max-width:400px;
    display:inline-block;
}
:host {
   
    height:100%;
}
