.mat-option {
    background-color: #3b5678
}


.mat-option.mat-selected {
    background-color: #273d5a
}

.mat-option:hover {
    background-color: #273d5a
}

::ng-deep .mat-select-value {
    background-color: #273d5a !important;
}