<span [ngSwitch]="FIELD_TYPE[type]">

    <input-text [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.TEXT_INPUT'></input-text>
    <input-select [entityDescriptor]="entityDescriptor" [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.SELECT'></input-select>
    <lpqft-text-area [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.TEXT_AREA'></lpqft-text-area>
    <lpqft-date-picker [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.DATE_TIME'></lpqft-date-picker>
    <lpqft-date-time-picker [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.DATE_TIME_ONLY'></lpqft-date-time-picker>
    <lpqft-text-rich [isReadOnly]="isReadOnly" [value]='value' [label]='label' *ngSwitchCase='FIELD_TYPE.TEXT_RICH'></lpqft-text-rich>
    
    <span><input-text [isReadOnly]="isReadOnly"  [value]='value' [label]='label' *ngSwitchDefault></input-text></span>

</span>